@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

/* Default Styles */

:root {
  --primary-color: #ffe211;
  --secondary-color: #f5f5f5;
  --dark-color: #242424;
  --light-color: #ffffff;
  --link-color: #6f97a8;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: #333;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #333;
}
h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}
p {
  margin: 10px 0;
}

img {
  width: 100%;
}
code,
pre {
  background: #333;
  color: #fff;
  padding: 10px;
}
.hidden {
  visibility: hidden;
  height: 0;
}

html {
  scroll-behavior: smooth;
}

/* Full Screen Overlay Navigation */

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--primary-color);
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
  z-index: 4;
  /* display: none; */
}
#active:checked ~ .wrapper {
  clip-path: circle(75%);
}
.menu-btn {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 5;
  text-align: center;
  line-height: 50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  background: var(--dark-color);
  transition: all 0.3s ease;
  /* display: none; */
}
#active:checked ~ .menu-btn {
  background: #fff;
  color: var(--dark-color);
}
#active:checked ~ .menu-btn i:before {
  content: "\f00d";
}
.wrapper ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li {
  margin: 12px 0;
}
.wrapper ul li a {
  color: var(--dark-color);
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  padding: 0px 50px;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}

.wrapper ul li a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  background: #fff;
  left: 0;
  z-index: -1;
  border-radius: 50px;
  transform: scaleY(0);
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after {
  transform: scaleY(1);
}
.wrapper ul li a:hover {
  color: var(--dark-color);
}
input[type="checkbox"] {
  display: none;
}

/* Navbar - Darucini */

.navbar {
  background-image: url("../images/hero-bg/cucumber-min.png");
  background-repeat: no-repeat;
  background-position: 94% 60%;
  background-size: 220px;
  position: relative;
}

.navbar .logo img {
  height: 60px;
  width: 150px;
  object-fit: cover;
  object-position: 0 8%;
}

/* Hero */

.hero {
  padding: 180px 0px 230px;
  background-image: url("../images/hero-bg/Salad-Transparent-Hero-2-min.png"),
    url("../images/hero-bg/Salad-Transparent-Hero-7-min.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 130% 400%, 30% 160%;
  background-size: auto, 420px;
}
.hero-text {
  max-width: 700px;
}
.hero-text h2 {
  font-weight: 900;
  font-size: 57px;
  color: #000;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.hero-text p {
  font-size: 20px;
  line-height: 1.3;
  text-align: justify;
  font-weight: 400;
  color: var(--dark-color);
}
.hero-text a {
  color: var(--dark-color);
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 500;
}

/* Features - Darucini */

.features {
  padding: 100px 200px 70px;
}

.feature {
  text-align: center;
  padding-bottom: 50px;
}
.features .feature i {
  font-size: 100px;
  color: var(--dark-color);
  margin-bottom: 30px;
}
.features .feature h4 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 0px;
}
.features .feature p {
  font-size: 20px;
  line-height: 1.4;
  color: #474747;
}
.features hr {
  border: 1px solid #e2e0e0;
}

/* Latest Recipes - Darucini */

.latest-recipes {
  padding: 10px 0px 100px;
}
.latest-recipes h2 {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
}
.latest-recipes__subheading {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  color: #474747;
}

.latest-recipes .card {
  padding: 0px;
}
.latest-recipes .card .grid {
  grid-template-columns: 21% 76.5%;
  grid-gap: 10px;
  align-items: start;
  justify-content: start;
}
.latest-recipes .card .grid .engagement {
  background: var(--secondary-color);
  align-self: start;
  margin-top: -7px;
  text-align: center;
  padding: 30px 0px;
}
.latest-recipes .card .grid .engagement div {
  margin: 10px 0px;
}
.latest-recipes .card .grid .engagement div:first-child i {
  color: #ed6d7a;
}
.latest-recipes .card .grid .engagement div:nth-child(2) i {
  color: #6f97a8;
}
.latest-recipes .card .grid .engagement div p {
  margin: 0px;
}

.latest-recipes .post .flex {
  justify-content: start;
  position: relative;
  top: -30px;
}

.latest-recipes .card .grid .post img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.latest-recipes .card .grid {
  max-height: 185px;
  overflow: visible;
}
.latest-recipes .card {
  transition: transform 0.3s ease-in;
}
.latest-recipes .card:hover {
  transform: translateY(-15px);
}
.latest-recipes .post {
  padding: 0px 20px 22px;
  position: relative;
  top: -60px;
  background-color: var(--light-color);
  z-index: 3;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.latest-recipes .post .flex img {
  border-radius: 50%;
  border: 1px solid #cfb709;
  margin-right: 12px;
}
.latest-recipes .post .flex h5 {
  align-self: flex-end;
  color: #aeaaaa;
  font-size: 13px;
  font-weight: 400;
}
.latest-recipes .post .flex a {
  color: var(--link-color);
  font-size: 13px;
}
.latest-recipes .post .item_type {
  font-weight: 400;
  font-size: 15px;
}
.latest-recipes .post p {
  color: #737373;
  line-height: 1.3;
  margin: 15px 0px;
}
.latest-recipes .post div a {
  color: var(--link-color);
  font-size: 16px;
  font-weight: 500;
}
.latest-recipes .post div a:hover {
  color: #0e526f;
}

.latest-recipes hr {
  border: 1px solid #e2e0e0;
  max-width: 1220px;
}

/* Recipe Category */

.recipe-category h2 {
  font-size: 35px;
  font-weight: 500;
  color: var(--dark-color);
}
.recipe-category p {
  font-size: 17px;
  font-weight: 400;
}
.recipe-category .active {
  background-color: var(--primary-color);
}
.recipe-category .btn {
  border: 1px solid #e8e6e6;
  margin: 0 4px;
}
.recipe-category .btn:hover {
  background: var(--primary-color);
}
.recipe-category .category {
  margin-bottom: 30px;
}
.recipe-category .category-items {
  padding-bottom: 40px;
}
.recipe-category .category-items .card {
  padding: 0px;
}
.recipe-category .category-items img {
  transition: transform 0.2s ease-in;
  max-width: 95%;
  cursor: pointer;
}

.recipe-category .img-content-container {
  position: relative;
  cursor: pointer;
}
.recipe-category .img-content-container img {
  margin: auto;
}

.recipe-category .img-content-container .content {
  width: 94.5%;
  height: 96.5%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
  border-radius: 10px;
}

.recipe-category .img-content-container .content:hover {
  opacity: 1;
}
.recipe-category .img-content-container .content h1 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 0px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
.recipe-category .img-content-container .content p {
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
  padding: 0px 15px;
}

.recipe-category .img-content-container .content > * {
  transform: translateY(25px);
  transition: transform 0.6s;
}
.recipe-category .img-content-container .content:hover > * {
  transform: translateY(0px);
}

/* .recipe-category .category-items img:hover {
  transform: translateY(-15px);
} */
.recipe-category hr {
  border: 1px solid #e2e0e0;
}

/* Cooking Habit Solutions - Darucini */

.cooking-habit .container {
  padding: 0px 160px 10px;
}
.cooking-habit .grid {
  grid-gap: 60px;
}

.cooking-habit h2 {
  font-size: 35px;
  font-weight: 500;
  color: var(--dark-color);
  margin-bottom: 45px;
  padding: 18px 0px;
}
.solutions {
  margin-top: 15px;
}
.solution {
  margin-bottom: 120px;
}
.cooking-habit {
  position: relative;
}
.cooking-habit .solution__img div {
  height: 250px;
  width: 220px;
  background: rgba(92, 184, 92, 0.5);
}
.cooking-habit .solutions > *:nth-child(1) .solution__img img {
  position: absolute;
  top: 12%;
  left: 20%;
  max-width: 22%;
}
.cooking-habit .solutions > *:nth-child(2) .solution__img img {
  position: absolute;
  top: 41.6%;
  right: 20%;
  max-width: 22%;
}
.cooking-habit .solutions > *:nth-child(3) .solution__img img {
  position: absolute;
  top: 71%;
  left: 20%;
  max-width: 22%;
}
.solution__text i {
  color: var(--success-color);
  font-size: 40px;
  margin-bottom: 15px;
}
.solutions > *:nth-child(2) .solution__text i {
  color: #fcabde;
}
.solution__text h4 {
  font-size: 30px;
  font-weight: 600;
  color: var(--dark-color);
}
.solution__text p {
  font-size: 17px;
  color: #696868;
}

/* Recipe Recreate */
.recipe-recreate {
  position: relative;
}
.recreate-text {
  max-width: 600px;
  margin: 0 auto;
}
.recreate-text h2 {
  font-size: 35px;
  font-weight: 500;
  color: var(--dark-color);
  margin-bottom: 40px;
}
.recreate-text p {
  margin-bottom: 40px;
  font-size: 17px;
  font-weight: 400;
  color: #474747;
}
.recipe-recreate .btn-link {
  background: var(--link-color);
  border-radius: 20px;
  font-weight: 400;
  display: flex;
  margin: auto;
  position: relative;
}
.recipe-recreate .btn-link:hover {
  background-color: var(--primary-color);
  color: var(--dark-color);
}
.recreate__img {
  max-width: 600px;
  margin: 0 auto;
  margin-top: -37px;
  z-index: 2;
}
.recreate__line {
  position: absolute;
  width: 1px;
  height: 135px;
  background: rgba(111, 151, 168, 0.5);
  top: 40%;
  left: 50%;
}
.recreate_bottom_gray_bg {
  position: absolute;
  width: 98.9vw;
  height: 150px;
  background: var(--secondary-color);
  top: 74%;
  z-index: -1;
}

/* Review - Darucini */

.review {
  padding-bottom: 30px;
  position: relative;
}

.review .grid {
  grid-template-columns: 35% 65%;
}
.review__text {
  padding: 35px 0px;
}
.review__text i {
  font-size: 40px;
  color: var(--dark-color);
  margin-bottom: 20px;
}
.review__text p {
  color: var(--dark-color);
  font-size: 20px;
  margin-bottom: 25px;
}
.review__text h5 {
  color: #0e526f;
  font-size: 18px;
  font-weight: 400;
}
.review__text h6 {
  color: var(--dark-color);
  font-size: 15px;
  opacity: 0.7;
}
.review__img img {
  position: absolute;
  top: -25%;
  left: 10%;
  max-width: 40%;
}

/* Trending - Darucini*/

.trending {
  margin-top: -12px;
  padding-top: 35px;
  position: relative;
  padding-bottom: 35px;
  position: relative;
}
.trending h2 {
  font-size: 35px;
  font-weight: 500;
  color: var(--dark-color);
  margin-bottom: 48px;
}
.trending .event {
  transition: opacity 0.1s ease-out;
  cursor: pointer;
}
.trending .event:hover {
  opacity: 0.8;
}
.trending .event img {
  max-width: 100%;
  height: 260px;
  object-fit: cover;
}
.trending .event .date {
  background-color: var(--primary-color);
  width: fit-content;
  padding: 0px 25px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 33.5%;
  left: 12.5%;
}

.trending .events > *:nth-child(2) .date {
  position: absolute;
  top: 33.5%;
  left: 38.6%;
}
.trending .events > *:nth-child(3) .date {
  position: absolute;
  top: 33.5%;
  left: 64.5%;
}
.trending .event .date h2 {
  font-size: 21px;
  margin-bottom: 0px;
  font-weight: 500;
  color: var(--dark-color);
}
.trending .event .date p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
}
.trending .event .info {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px 15px;
  position: absolute;
  top: 68%;
  left: 11.7%;
  max-width: 390px;
}
.trending .events > *:nth-child(2) .info {
  position: absolute;
  top: 68%;
  left: 597px;
}
.trending .events > *:nth-child(3) .info {
  position: absolute;
  top: 68%;
  left: 1010px;
}
.trending .event .info h4 {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  text-shadow: #333;
  line-height: 1.2;
  margin-bottom: 5px;
}
.trending .event .info h6 {
  font-size: 11px;
  font-weight: 300;
  color: #fff;
  text-shadow: #333;
}

/* Footer - Darucini*/

.footer {
  color: var(--dark-color);
}

.footer .container {
  margin-top: 20px;
}

.footer .grid {
  grid-template-columns: 4fr 3fr;
  margin-bottom: 45px;
}

.footer .register h2 {
  font-size: 35px;
  font-weight: 500;
  color: var(--dark-color);
  line-height: 1.2;
}
.footer .register p {
  font-size: 16px;
  color: #474747;
  margin-bottom: 23px;
}
.footer .register .btn {
  font-weight: 500;
}
.footer .submit {
  background-color: #fff;
  padding: 30px 50px 40px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.footer .submit h2 {
  font-size: 30px;
  font-weight: 500;
  color: var(--dark-color);
  line-height: 1.2;
  margin-bottom: 5px;
}
.footer .submit p {
  font-size: 15px;
  font-weight: 400;
  color: #474747;
  line-height: 1.2;
  margin-top: 0px;
  margin-bottom: 22px;
}
.footer .submit form input[type="text"] {
  border: 1px solid #dfdfdf;
  padding: 15px 20px;
  width: 70%;
  color: var(--dark-color);
  outline: none;
  border-right: none;
}
.footer .submit form input[type="submit"] {
  border: 1px solid #dfdfdf;
  padding: 14px 20px;
  width: 23%;
  color: var(--dark-color);
  outline: none;
  background-color: white;
  border-left: none;
  margin-left: -4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.1s linear;
}
.footer .submit form input[type="submit"]:hover {
  background-color: var(--link-color);
  color: var(--light-color);
}
.footer .menu {
  margin-bottom: 20px;
}
.footer .menu nav ul li {
  margin-right: 20px;
}
.footer .menu nav ul li a {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 6px;
}
.footer .menu .social i {
  background: var(--dark-color);
  color: var(--light-color);
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  padding-top: 9px;
  font-size: 13px;
  margin-left: 10px;
}
.footer .menu .social i:hover {
  color: var(--primary-color);
}
.footer .menu nav ul li a:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}
.footer hr {
  border: none;
  width: 100%;
  background-color: #474747;
  height: 0.5px;
}

.footer .copyright {
  margin-top: 5px;
}

.footer .copyright .logo img {
  height: 60px;
  width: 150px;
  object-fit: cover;
  object-position: 0 8%;
  margin-top: 5px;
}
.footer .copyright__text p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.footer .copyright__text > *:nth-child(2) {
  margin-top: 0px;
  font-size: 12px;
  color: #474747;
  font-weight: 400;
}
.footer .copyright .help .text p {
  margin: 0px;
  font-weight: 500;
  font-size: 15px;
  text-align: left;
  margin-right: 20px;
  text-align: center;
}
.footer .copyright .help .text > *:nth-child(2) {
  font-size: 12px;
  font-weight: 300;
}
.footer .copyright .help h4 i {
  margin-right: 5px;
  border: 1px solid var(--dark-color);
  padding: 8px;
  border-radius: 50%;
}
/* Animations */

/* Tablets and Under */

@media (max-width: 768px) {
  .wrapper ul {
    top: 35%;
  }

  .nabnar {
    width: 100vw;
  }
  .features .grid,
  .latest-recipes .grid,
  .cooking-habit .grid,
  .trending .grid,
  .footer .grid {
    grid-template-columns: 1fr;
  }

  .container {
    padding: 0 28px;
  }

  .hero {
    padding: 130px 25px 230px;
    background-image: url("../images/hero-bg/Salad-Transparent-Hero-2-min.png");
    background-repeat: no-repeat;
    background-position: 50% 175%;
    background-size: 400px;
  }
  .hero-text {
    text-align: center;
    max-width: 100%;
    align-items: center;
    padding: 0 50px;
  }
  .hero-text h2 {
    font-size: 2.8rem;
  }
  .hero-text p {
    font-size: 1.2rem;
  }
  .latest-recipes {
    padding: 0 40px;
  }
  .latest-recipes .container {
    margin-top: 50px;
  }
  .latest-recipes .post {
    top: -38px;
  }

  .latest-recipes .card .grid {
    justify-content: space-between;
  }
  .latest-recipes .recipe {
    margin-bottom: 15px;
  }
  .recipe-category .flex {
    flex-wrap: wrap;
  }
  .recipe-category .category .btn {
    margin: 5px;
  }
  .recipe-category .category-items .card {
    margin-right: 0px;
  }
  .recipe-category .category-items img {
    max-width: 92%;
  }
  .recipe-category .img-content-container .content {
    width: 92%;
    height: 94.5%;
  }

  .recipe-category .img-content-container .content h1 {
    font-size: 1rem;
  }
  .recipe-category .img-content-container .content p {
    font-size: 0.7rem;
    margin: 0px;
  }

  .cooking-habit {
    text-align: center;
    border-bottom: 1px solid #e2e0e0;
  }
  .cooking-habit .container {
    padding: 0px 40px 10px;
  }

  .cooking-habit .solution__img div {
    display: none;
  }
  .solution__img img {
    border: 10px solid rgba(92, 184, 92, 0.5);
    text-align: center;
  }
  .solution__img .card {
    margin: 0px;
  }
  .cooking-habit .solutions > *:nth-child(1) .solution__img img {
    position: unset;
    max-width: 75%;
  }
  .cooking-habit .solutions > *:nth-child(2) .solution__img img {
    position: unset;
    max-width: 75%;
    border: 10px solid rgba(252, 171, 222, 0.7);
  }
  .cooking-habit .solutions > *:nth-child(3) .solution__img img {
    position: unset;
    max-width: 75%;
  }
  .cooking-habit .solutions > *:nth-child(2) .solution__img div {
    margin-bottom: 50px;
  }
  .cooking-habit .solutions > *:nth-child(3) .solution__img div {
    margin-bottom: 25px;
  }
  .cooking-habit .solutions .solution {
    margin-bottom: 40px;
  }
  .cooking-habit .grid {
    grid-gap: 30px;
  }
  .recipe-recreate {
    margin-top: 50px;
  }
  .review {
    padding: 0 50px 35px;
  }
  .review__img {
    text-align: center;
  }
  .review__img img {
    position: unset;
    max-width: 100%;
    height: 180px;
    width: 180px;
    object-fit: cover;
    object-position: 0 8%;
  }
  .review__text i {
    font-size: 30px;
    margin-bottom: 0px;
  }
  .review__text p {
    font-size: 1rem;
    line-height: 1.3;
    margin-top: 0px;
    margin-bottom: 8px;
  }
  .review__text h5 {
    font-size: 0.9rem;
  }
  .review__text h6 {
    font-size: 12px;
  }
  .trending .event img {
    max-width: 100%;
    height: 260px;
    object-fit: cover;
  }
  .trending .event {
    margin: 0 auto;
  }

  .trending .event .date {
    top: 14.7%;
    left: 26.5%;
  }

  .trending .events > *:nth-child(2) .date {
    top: 43.3%;
    left: 26.5%;
  }
  .trending .events > *:nth-child(3) .date {
    top: 71.5%;
    left: 26.5%;
  }
  .trending .event .info {
    top: 29%;
    left: 24.5%;
    max-width: 51%;
  }
  .trending .events > *:nth-child(2) .info {
    top: 57.3%;
    left: 24.5%;
  }
  .trending .events > *:nth-child(3) .info {
    top: 85.7%;
    left: 24.5%;
    width: 87%;
  }
  .footer {
    text-align: center;
  }
  .footer .submit h2 {
    font-size: 2.2rem;
  }
  .footer .menu {
    flex-direction: column;
  }
  .footer .menu nav ul {
    margin-bottom: 20px;
  }
  .footer .menu nav ul li {
    line-height: 1.35;
  }
  .footer .copyright {
    flex-direction: column;
  }
  .footer .logo {
    margin: 10px 0px;
  }
  .footer .copyright__text {
    margin-bottom: 10px;
  }
  .footer .register {
    margin-bottom: 25px;
  }
}

/* Mobile */

@media (max-width: 500px) {
  /* Navbar - Darucini*/

  .wrapper ul {
    top: 43%;
  }
  .wrapper ul li {
    margin: 0px 0;
  }
  .wrapper ul li a {
    font-size: 16px;
    padding: 0px 30px;
  }
  .wrapper ul li .btn {
    padding: 0px 40px;
  }
  .navbar {
    background-position: 110% -100%;
    background-size: 100px;
  }

  .navbar .logo img {
    height: 40px;
    width: 100px;
    margin-top: 5px;
  }

  /* Hero */

  .hero {
    padding: 130px 25px 230px;
    background-image: url("../images/hero-bg/Salad-Transparent-Hero-2-min.png");
    background-repeat: no-repeat;
    background-position: 50% 145%;
    background-size: 400px;
  }
  .hero-text {
    text-align: center;
    align-items: center;
    padding: 0 0px;
  }
  .hero-text h2 {
    font-size: 2.5rem;
  }
  .hero-text a {
    text-align: center;
  }

  /* Features - Darucini */

  .features {
    padding: 100px 40px 70px;
  }

  .features .grid {
    grid-template-columns: 1fr;
  }
  .feature h4 {
    line-height: 1.3;
  }
  /* Latest Recipes */

  .latest-recipes .grid {
    grid-template-columns: 1fr;
  }
  .latest-recipes {
    padding-bottom: 40px;
  }
  .latest-recipes h2,
  .latest-recipes p {
    padding: 0 25px;
  }
  .latest-recipes h2 {
    font-size: 1.8rem;
  }
  .latest-recipes p {
    font-size: 1rem;
  }
  .latest-recipes .post {
    margin-top: 0px;
  }
  .recipe .post p {
    padding: 0px;
  }
  .latest-recipes .post {
    top: -60px;
  }
  .latest-recipes {
    padding: 0 0px 40px;
  }

  /* Recipe Category */
  .recipe-category .flex {
    flex-wrap: wrap;
  }
  .recipe-category .category a {
    margin: 5px;
  }
  .recipe-category .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .recipe-category .category-items .card {
    margin: 5px;
  }

  .recipe-category .img-content-container .content h1 {
    font-size: 0.75rem;
  }
  .recipe-category .img-content-container .content p {
    display: none;
  }

  .recipe-category .img-content-container .content {
    width: 92%;
    height: 83.5%;
    top: 5px;
    left: 5px;
  }

  /* Cooking Habit Solutions - Darucini */

  .cooking-habit .container {
    padding: 0px 25px 10px;
  }
  .container {
    padding: 0 25px;
  }
  .cooking-habit .grid {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .cooking-habit .solution__img div {
    display: none;
  }
  .solution__img img {
    border: 10px solid rgba(92, 184, 92, 0.5);
    text-align: center;
  }
  .solution__img .card {
    margin: 0px;
  }
  .cooking-habit .solutions > *:nth-child(1) .solution__img img {
    position: unset;
    max-width: 100%;
  }
  .cooking-habit .solutions > *:nth-child(2) .solution__img img {
    position: unset;
    max-width: 100%;
    border: 10px solid rgba(252, 171, 222, 0.7);
  }
  .cooking-habit .solutions > *:nth-child(3) .solution__img img {
    position: unset;
    max-width: 100%;
  }
  .cooking-habit .solutions > *:nth-child(2) .solution__img div {
    margin-bottom: 50px;
  }
  .cooking-habit .solutions > *:nth-child(3) .solution__img div {
    margin-bottom: 25px;
  }
  .cooking-habit .solutions .solution {
    margin-bottom: 40px;
  }

  /* Recipe Recreate - Darucini */

  .recreate-text {
    padding: 50px 25px 0px;
  }

  .recreate__line {
    top: 59.5%;
  }
  .recreate_bottom_gray_bg {
    width: 100%;
  }

  /* Review */

  .review {
    overflow: hidden;
  }
  .review .grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .review__img img {
    position: unset;
    max-width: 80%;
    margin-top: 10%;
  }
  .review__text {
    padding: 0px 0px 20px;
  }
  .review__text p {
    margin-top: 0px;
  }

  /* Trending */

  .trending .grid {
    grid-template-columns: 1fr;
  }

  .trending {
    margin-top: -12px;
    padding-top: 35px;
    position: relative;
    padding-bottom: 35px;
    position: relative;
  }
  .trending h2 {
    font-size: 35px;
    font-weight: 500;
    color: var(--dark-color);
    margin-bottom: 48px;
  }
  .trending .event {
    transition: opacity 0.1s ease-out;
    cursor: pointer;
  }
  .trending .event:hover {
    opacity: 0.8;
  }
  .trending .event img {
    max-width: 100%;
    height: 260px;
    object-fit: cover;
  }
  .trending .event .date {
    background-color: var(--primary-color);
    width: fit-content;
    padding: 0px 25px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 18%;
    left: 9.5%;
  }

  .trending .events > *:nth-child(2) .date {
    top: 45.2%;
    left: 9.5%;
  }
  .trending .events > *:nth-child(3) .date {
    top: 72.7%;
    left: 9.5%;
  }
  .trending .event .date h2 {
    font-size: 21px;
    margin-bottom: 0px;
    font-weight: 500;
    color: var(--dark-color);
  }
  .trending .event .date p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
  }
  .trending .event .info {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 15px;
    position: absolute;
    top: 32.1%;
    left: 6.5%;
    max-width: 87%;
  }
  .trending .events > *:nth-child(2) .info {
    position: absolute;
    top: 59.3%;
    left: 6.5%;
  }
  .trending .events > *:nth-child(3) .info {
    position: absolute;
    top: 86.7%;
    left: 6.5%;
    width: 87%;
  }
  .trending .event .info h4 {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-shadow: #333;
    line-height: 1.2;
    margin-bottom: 5px;
  }
  .trending .event .info h6 {
    font-size: 11px;
    font-weight: 300;
    color: #fff;
    text-shadow: #333;
  }

  /* Footer */
  .footer .grid {
    grid-template-columns: 1fr;
  }
  .footer .grid .register {
    text-align: center;
  }
  .footer .grid .register h2 {
    font-size: 1.5rem;
  }
  .footer .grid .submit {
    text-align: center;
    padding: 20px 20px 30px;
  }
  .footer .grid .submit h2 {
    font-size: 1.5rem;
  }
  .footer .submit form input[type="text"] {
    width: 65%;
  }
  .footer .submit form input[type="submit"] {
    margin-left: -4px;
    width: 30%;
  }
  .footer .flex {
    flex-direction: column;
  }
  .footer .menu nav ul li {
    margin-bottom: 5px;
  }
  .footer .menu nav ul li a {
    padding-bottom: 2px;
  }
  .footer .menu nav {
    margin-bottom: 15px;
  }
  .footer .menu .social {
    margin-left: -15px;
  }
  .footer .menu .social i {
    margin-right: 5px;
    margin-left: 0px;
  }
  .footer .copyright .logo {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .footer .copyright__text {
    margin-bottom: 10px;
  }
  .footer .help .text {
    margin-bottom: 5px;
  }
  .footer .help h4 {
    font-size: 0.9rem;
    margin-left: -15px;
  }
  .footer .copyright .help h4 i {
    padding: 4px;
    font-size: 10px;
  }
}
